Could implement full Java Spec date/time formats

Currently, if using the format keyword, you can specify 'date-time' which allows validation against ISO standards as per RFC 3339 section 5.6.

However, there are a range of keywords in that RFC (link here: https://www.ietf.org/rfc/rfc3339.txt) including "full-date". I currently have a use case where the full-date format would be useful - i.e. validate against something like "1990-04-23".

Would this be useful - or, more specifically would anyone object to a pull request adding the remainder of the date-time RFCs?


Hello,

According to the [related part of the JSON Schema spec](http://json-schema.org/latest/json-schema-validation.html#anchor104) implementations *should* implement the `date-time` format while they *may* implement additional custom formats. So if you need this feature then you can create a PR implementing `full-time` and I will be happy to merge it.

Thanks

Thanks :) Will work on a pull request now.

@SwamWithTurtles are you going to implement this feature? Or can I close this issue?