Is the URI validator for draft 4 too strict?

It seems to me that the URI validator for draft 4 is too strict since version 1.6.0

In version 1.5.1, this string would be considered a valid URI: `abc`. Since version 1.6.0, this seems not to be the case anymore, though `abc` is accepted by, eg, `java.net.URI`.

It is true that the json-schema spec refers to RFC3986, while the `java.net.URI` javadoc refers to RFC2396 and RFC2732.
RFC3986, which obsoletes the other two, clarifies the following:

      NOTE: Previous specifications used the terms "partial URI" and
      "relative URI" to denote a relative reference to a URI.  As some
      readers misunderstood those terms to mean that relative URIs are a
      subset of URIs rather than a method of referencing URIs, this
      specification simply refers to them as relative references.

This suggests that `abc` is actually not a URI, but a relative reference.
While draft 6 [0] does distinguish between `uri` and `uri-reference`, draft 4 [1] only mentions `uri`, which makes me wonder if the authors may have meant that a `uri` in draft 4 could also be a relative reference. 

I would argue that keeping the lax interpretation of URI, as in version 1.5.1 and previous, is "more correct". It also certainly prevents the sort of backward incompability we have experienced in our software when trying to upgrade to version 1.6.1

[0]: Validation draft 6: https://tools.ietf.org/html/draft-wright-json-schema-validation-01#section-8.3.6
[1]: Validation draft 4: https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-7.3.6